{
	"root": true,
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": ["eslint:recommended", "prettier"],
	"overrides": [
		{
			"files": ["**/*.{ts,tsx}"],
			"parser": "@typescript-eslint/parser",
			"plugins": ["@typescript-eslint"],
			"extends": [
				"eslint:recommended",
				"plugin:@typescript-eslint/recommended"
			],
			"env": {
				"node": true
			}
		}
	]
}
