docs
node_modules
.github
.nyc*
.vs*
test
*.tgz
tsconfig.json
typedoc.json
package-lock.json
.prettierrc.json
.prettierignore
.gitignore
.gitattributes
.eslintrc
.eslintignore
.editorconfig
.npmignore